* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* background-color: #f6f1e7; */
/*  */}

@font-face {
    font-family: "Fonte texto";
    src: url(Font/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Fonte titulo";
    src: url(Font/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "Fonte titulo2";
    src: url(Font/CreatoDisplay-Black.otf);
}

@font-face {
    font-family: "Fonte titulo3";
    src: url(Font/CreatoDisplay-Medium.otf);
}

@font-face {
    font-family: "creatoB";
    src: url(font/CreatoDisplay-Bold.otf);
}

body {
    background-color: #f6f1e7;
}

header {
    color: black;
    padding: 25px 0;
    border-bottom: 1px solid black; 
    font-family: "Fonte texto";
  }
  
  .logo{
  width: 15%;
  height: 62px;
  margin-right: 30px;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 100px;
    padding: 0 20px;
  }
  
  .espaco{
  height: 5px;
  }
  
  header nav {
    display: flex;
  }
  
  .inicio{
  margin-left: 650px;
  }
  
  header nav a {
    color: black;
    margin-left: 20px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 35px;
    font-family: "Fonte texto";
    display: flex;
    align-items: center;
  }
  
  
  
  /* LINHA ABAIXO DO A */
  #navegacao{
  position: relative; 
  }
  
  
  #navegacao::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #FF6F00;
  position: absolute;
  bottom: -4px; 
  left: 0;
  transition: width 0.4s ease-in-out;
  }
  
  
  #navegacao:hover::after {
  width: 100%;
  }
  
  /* até aq */
  
  
  
  
  
  
  
  
  /* MENU!!!!!!!!!!!!!! */
  
  
  main {
    max-width: 100%;
    
    transition: filter 0.3s ease-in-out; /*  transição */
  }
  
  p {
    font-size: 18px; 
  }
  
  
  
  /* botão do menu */
  #menuAlternar {
    position: absolute; 
    top: 40px; /*  topo */
    right: 20px; 
    z-index: 200; /* botão por cima d menu */
  }
  
  #menuAlternar a {
    text-decoration: none; 
    font-size: 16px;
    color: #ffffff; 
    transition: color 0.3s ease; 
    font-family: "Fonte texto";
  }
  
  #menuAlternar a:hover {
    font-family: "Fonte titulo";
  }
  
  #menuAlternar input {
    display: block; 
    position: absolute; 
    cursor: pointer; 
    width: 80px;
    height: 80px;
    opacity: 0; 
  }
  
  #menuAlternar span {
  display: block; 
  width: 20px; /* nova largura */
  height: 2px; /* nova altura */
  margin-bottom: 4px; /* espaçamento menor entre as linhas */
  margin-top: 3px;
  margin-right: 50px;
  position: relative; 
  background: black; /* cor das linhas */
  border-radius: 3px; 
  z-index: 1; 
  transform-origin: 2px 0px; /* ajustado ao novo tamanho */
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
              opacity 0.55s ease; 
  }
  
  /* Estados transformados para formar o "X" */
  #menuAlternar input:checked ~ span {
  opacity: 1; 
  transform: rotate(45deg) translate(-1px, -1px); /* ajustado para o tamanho menor */
  background: black; 
  }
  
  #menuAlternar input:checked ~ span:nth-last-child(3) {
  opacity: 0; 
  transform: rotate(0deg) scale(0.2, 0.2); 
  }
  
  #menuAlternar input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); /* ajustado para o tamanho menor */
  }
  
  
  #menuAlternar span:first-child {
    transform-origin: 0% 0%; /* de onde sai a 1°lunha */
  }
  
  #menuAlternar span:nth-last-child(2) {
    transform-origin: 0% 100%; /* de onde sai a 2°lunha */
  }
  
  #menuAlternar input:checked ~ span {
    opacity: 1; 
    transform: rotate(45deg) translate(-1px, -1px); /* muda o icone pra X */
    position: relative;
  }
  
  #menuAlternar input:checked ~ span:nth-last-child(3) {
    opacity: 0; 
    transform: rotate(0deg) scale(0.2, 0.2); 
  }
  
  #menuAlternar input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px); 
  }
  
  /* Estilização do menu */
  #menu {
    position: fixed; 
    max-width: 280px; /* largura qnd abre*/
    width: 80%; 
    height: 100%; 
    margin: 0; 
    right: 0; 
    padding: 20px; 
    padding-top: 80px; 
    box-sizing: border-box; 
    background: #1a1a4c; /* cor do fundo */
    list-style-type: none; 
    transform: translateX(100%); /* deixa ano que vem */
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0); /* animacao qnd abre*/
    color: #ffffff; /* cor do texto */
    z-index: 100; /* deixa o menu acima de tudo */
  }
  
  #menu li {
    padding: 10px 0; /* espaço entre iten */
    font-size: 22px; 
  }
  
  #menu li label {
    cursor: pointer; 
  }
  
  #menuAlternar input:checked ~ ul {
    transform: translateX(0); /* ativa o menu */
  }
  
  
  body.menu-aberto main  {
    filter: blur(5px); /* blur no site td */
  }
  
  body.menu-aberto #navegacao {
  filter: blur(5px); /* blur no site td */
  }
  
  
  body:not(.menu-aberto) #menu {
    transform: translateX(100%); /* deixa o menu fora da tela */
  }
  
  
  
  
  
  
  /* FIM DO MENU */

/* fim do header */

/* começo do banner */

.foto{
    align-items: center;
    display: flex;
    height: 636px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(img/garota.png);
}

/* jogo */


.texto-jogos {
    max-width: 300px;
}





.texto-jogos a {
    color: #555555;
    font-family: "Fonte texto";
    font-size: 15px;

}


.jogo-cartao {
    position: relative;
    width: 400px;
    height: 280px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

/* JOGO AZUL !!! */

.jogo-cartao.azul {
    background-color: #B5D2F0;
    position: relative;
    transition: transform 0.3s ease-in-out;
    margin-left: 20px;
    margin-right:30px ;
}

.jogo-cartao.azul:hover{
    transform: scale(1.03); 
}


.jogo-cartao.azul .jogo {
    border: 1px solid black;
    border-radius: 15px;
    width: 70px;
    font-family: "Fonte texto";
    color: #000000;
    text-align: center;
    padding: 3px;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 15px;
}

/* .jogo-cartao.azul img {
    width: 55%;
    border-radius: 5px;
    margin-top: 10px;
    position: absolute;
    bottom:20px;
    right: 20px;
} */

.jogo-cartao.azul .icone-seta {
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 170px;
    left: 35px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.icone-seta:hover {
    transform: scale(1.2); 
}


.jogo-cartao.azul h3 {
    font-size: 30px;
    position: relative;
    top: 85px;
    color: #000000;
    font-family: "Fonte titulo";
    
}


.jogo-cartao.azul p {
    font-size: 14px;
    color: black;
    position: relative;
    top: 90px;
    left: 5px;
    font-family: "Fonte texto";
}

.secao-jogos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.imagem1{
    height: 170px;
    position: relative;
    left: 180px;
    bottom: 125px;
}

.learn{
    margin-top: 50px;
    margin-left: 50px;
}

/*começo do cartão laranja */

.jogoLaranja {
    background-color: #F89761;
    position: relative;
    transition: transform 0.3s ease-in-out;
    width: 400px;
    height: 280px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius:10px ;
    padding: 20px;
    margin-left: 20px;
    margin-right:30px ;
}

.jogoLaranja:hover{
    transform: scale(1.03); 
}

.imagem2{
    position: relative;
    bottom: 25px;
    left: 180px;
    height: 140px;
}

.seta{
    position: absolute;
    top: 200px;
    left: 35px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.seta:hover{
    transform: scale(1.2);
}

.orange{
font-size: 14px;
color: black;
position: relative;
top: 10px;
left: 5px;
font-family: "Fonte texto";
}

.laranja{
    font-size: 30px;
    position: relative; 
    color: black;
    font-family: "Fonte titulo";
}

.pJogoL{
    border: 1px solid black;
    border-radius: 15px;
    width: 70px;
    font-family: "Fonte texto";
    color: #000000;
    text-align: center;
    padding: 3px;
    font-size: 12px;
    margin-top: 30px;
    bottom: 15px;
    position: relative;
}


/* começo do cartão verde */

.jogoVerde{
    background-color: #C2F597;
    position: relative;
    transition: transform 0.3s ease-in-out;
    width: 400px;
    height: 280px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius:10px ;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    margin-left: 20px;
    margin-right:30px ;
}

.jogoVerde:hover{
    transform: scale(1.03);
}

.pJogoV{
    border: 1px solid black;
    border-radius: 15px;
    width: 70px;
    font-family: "Fonte texto";
    color: #000000;
    text-align: center;
    padding: 3px;
    font-size: 12px;
    position: relative;
    top: 90px;
    margin-bottom: 15px;
}

.verde{
    font-size: 30px;
    position: relative;
    top: 85px;
    color: #000000;
    font-family: "Fonte titulo";
}

.green{
    font-size: 14px;
    color: black;
    position: relative;
    top: 90px;
    left: 5px;
    font-family: "Fonte texto";
}

.imagem3{
    height: 150px;
    position: relative;
    left: 160px;
    bottom: 98px;
}

.setaV{
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 170px;
    left: 35px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.setaV:hover{
    transform: scale(1.2);
}

/* fim das caixas começo do aprenda blabla */

.learn{
    font-family: "creatoB";
    margin-left: 110px;
    font-size: 28px;
}

/* parte da div fim  */

.fim{
    margin-top: 150px;
    display: flex;
}

.image{
    background-image: url(img/fim.png);
    height: 409px;
    width: 679px;
}

.bene{
    font-size: 35px;
    width: 700px;
    font-family: "Fonte titulo";
    text-align: left;
}

.text{
    width: 700px;
    font-family: "Fonte texto";
    font-size: 18px;
    margin-top: 35px;
}

.texto{
    margin-left: 50px;
    margin-top: 85px;
}


/* footer */

footer {
    background-color: #0B1956;
    color: white;
    text-align: center;
    margin-top: 150px;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    padding-bottom: 50px;
    width: 100%;
  }
  
  .conteudo-footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .secao-footer {
    flex: 1;
    
    text-align: left;
  }
  
  .links ul {
    list-style: none;
    margin-left: 100px;
    line-height: 2.0;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    font-family: "Fonte texto";
  }
  
  .links li {
    margin: 10px 0;
  }

  /* EFEITOS DE HOVER */

  .links a:hover {
    font-family: "Fonte titulo";
}

/* FIM!!!! */
  
  .newsletter h3,
  .contato h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .newsletter p,
  .contato p {
    margin: 5px 0px;
    text-align: center;
    margin-bottom: 15px;
  }


 
  
  .contato {
    padding-right: 80px;
  }

  .newsletter {
    padding-left: 80px;
  }
  

  .newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .newsletter input[type="email"] {
    padding: 10px 15px;
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: "Fonte texto";
    text-align: left;
  }

  input::placeholder {
    color: white;
  }
  
  .newsletter button {
    padding: 7px 20px;
    color: white;
    border-radius: 15px;
    width: 120px;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
    font-family: "Fonte titulo";
  }

  /* EFEITOS DE HOVER */

  .newsletter button:hover {
    background-color: white;
    color:#0B1956;
  transition: color 0.5s ease;
  transition: background 0.5s ease;
}

/* FIM!!!! */


  .secao-footer-contato{
    color: white;
    text-align: left;
    line-height: 2.5;
    margin-right: 80px;
    margin-left: 50px;
   }

   .secao-footer-contato h4 {
    font-family: "Fonte titulo2";
    margin-left: 20px;
  }

   .secao-footer-contato p img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
  }

  .secao-footer-contato p {
    font-family: "Fonte texto";
    margin-left: 20px;
  }

  
  .divisoria {
    width: 1px;
    background: url('Line\ 6.png') no-repeat center center;
    background-size: cover;
    height: 230px;
    margin-top: 10px;
    margin-left: 120px;
  }

  .divisoria1 {
    width: 1px;
    background: url('Line\ 6.png') no-repeat center center;
    background-size: cover;
    height: 230px;
    margin-top: 10px;
    margin-left: 0px;
  }
  
  .barra-escura-footer {
    background-color: #081446;
    height: 60px;
    width: 100%;
  }
 





   