* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Fonte texto";
    src: url(Fontes/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Fonte titulo";
    src: url(Fontes/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "Fonte titulo2";
    src: url(Fontes/CreatoDisplay-Black.otf);
}

@font-face {
    font-family: "Fonte titulo3";
    src: url(Fontes/CreatoDisplay-Medium.otf);
}


body {
  background-color: #F6F6EE;
}

header {
color: black;
padding: 25px 0;
border-bottom: 1px solid black; 
font-family: "Fonte texto";
}

.logo{
width: 15%;
height: 62px;
margin-right: 30px;
}

header .container {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 100px;
padding: 0 20px;
}

.espaco{
height: 5px;
}

header nav {
display: flex;
}

.inicio{
margin-left: 650px;
}

header nav a {
color: black;
margin-left: 20px;
text-decoration: none;
font-size: 15px;
margin-right: 35px;
font-family: "Fonte texto";
display: flex;
align-items: center;
}



/* LINHA ABAIXO DO A */
#navegacao{
position: relative; 
}


#navegacao::after {
content: "";
width: 0%;
height: 3px;
background-color: #FF6F00;
position: absolute;
bottom: -4px; 
left: 0;
transition: width 0.4s ease-in-out;
}


#navegacao:hover::after {
width: 100%;
}

/* até aq */







/* botão do menu */
#menuAlternar {
  position: absolute; 
  top: 40px; /*  topo */
  right: 20px; 
  z-index: 200; /* botão por cima d menu */
}

#menuAlternar a {
  text-decoration: none; 
  font-size: 16px;
  color: #ffffff; 
  transition: color 0.3s ease; 
  font-family: "Fonte texto";
}

#menuAlternar a:hover {
  font-family: "Fonte titulo";
}

#menuAlternar input {
  display: block; 
  position: absolute; 
  cursor: pointer; 
  width: 80px;
  height: 80px;
  opacity: 0; 
}

#menuAlternar span {
display: block; 
width: 20px; /* nova largura */
height: 2px; /* nova altura */
margin-bottom: 4px; /* espaçamento menor entre as linhas */
margin-top: 3px;
margin-right: 50px;
position: relative; 
background: black; /* cor das linhas */
border-radius: 3px; 
z-index: 1; 
transform-origin: 2px 0px; /* ajustado ao novo tamanho */
transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease; 
}

/* Estados transformados para formar o "X" */
#menuAlternar input:checked ~ span {
opacity: 1; 
transform: rotate(45deg) translate(-1px, -1px); /* ajustado para o tamanho menor */
background: black; 
}

#menuAlternar input:checked ~ span:nth-last-child(3) {
opacity: 0; 
transform: rotate(0deg) scale(0.2, 0.2); 
}

#menuAlternar input:checked ~ span:nth-last-child(2) {
transform: rotate(-45deg) translate(0, -1px); /* ajustado para o tamanho menor */
}


#menuAlternar span:first-child {
  transform-origin: 0% 0%; /* de onde sai a 1°lunha */
}

#menuAlternar span:nth-last-child(2) {
  transform-origin: 0% 100%; /* de onde sai a 2°lunha */
}

#menuAlternar input:checked ~ span {
  opacity: 1; 
  transform: rotate(45deg) translate(-1px, -1px); /* muda o icone pra X */
  position: relative;
}

#menuAlternar input:checked ~ span:nth-last-child(3) {
  opacity: 0; 
  transform: rotate(0deg) scale(0.2, 0.2); 
}

#menuAlternar input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); 
}

/* Estilização do menu */
#menu {
  position: fixed; 
  max-width: 280px; /* largura qnd abre*/
  width: 80%; 
  height: 100%; 
  margin: 0; 
  right: 0; 
  padding: 20px; 
  padding-top: 80px; 
  box-sizing: border-box; 
  background: #1a1a4c; /* cor do fundo */
  list-style-type: none; 
  transform: translateX(100%); /* deixa ano que vem */
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0); /* animacao qnd abre*/
  color: #ffffff; /* cor do texto */
  z-index: 100; /* deixa o menu acima de tudo */
}

#menu li {
  padding: 10px 0; /* espaço entre iten */
  font-size: 22px; 
}

#menu li label {
  cursor: pointer; 
}

#menuAlternar input:checked ~ ul {
  transform: translateX(0); /* ativa o menu */
}


body.menu-aberto main  {
  filter: blur(5px); /* blur no site td */
}

body.menu-aberto #navegacao {
filter: blur(5px); /* blur no site td */
}


body:not(.menu-aberto) #menu {
  transform: translateX(100%); /* deixa o menu fora da tela */
}






/* FIM DO MENU */




.banner{
    margin-bottom: 35px;
}

.banner img{
    width: 100%;
    height: auto;
}





.secao-ebooks {
    text-align: center;
    margin-bottom: 100px;
  }
  
  .secao-ebooks p {
    font-family: "Fonte texto";
    margin-bottom: 20px;
    color: #000000;
  }
  
  .secao-ebooks h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .livros {
    display: flex;
    gap: 80px;
    justify-content: center;
    justify-items: center;
  }
  
  
  
  .livro {
    width: 250px;
    text-align: center;
    transition: opacity 0.6s ease-in-out;
    margin-bottom: 60px;
  }
  
  .livro p {
    font-family: "Fonte titulo";
    margin-top: 10px;
  }
  
  .livro a {
    text-decoration: none;
    font-family: "Fonte titulo";
  }
  .livro button {
    display: block;
    background-color: #0B1956;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 50px;
    width: 150px;
    text-align: center;
    font-weight: bold;
    font-family: "Fonte titulo";
  }
  
  
  
  
  
  .capa img{
    transition: transform 0.3s ease; 
  }
  
  .capa:hover img{
      transform: scale(1.1); 
      border-radius: 20px;
  }
  
  
  /* EFEITOS DE HOVER */
  
  .livro button:hover {
    background-color: white;
    color:#0B1956;
  transition: color 0.5s ease;
  transition: background 0.5s ease;
  }
  
  /* FIM!!!! */
  
  .livro img {
    width: 100%;
    border-radius: 20px;
  }






  footer {
    background-color: #0B1956;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    padding-bottom: 50px;
  }
  
  .conteudo-footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .secao-footer {
    flex: 1;
    
    text-align: left;
  }
  
  .links ul {
    list-style: none;
    margin-left: 100px;
    line-height: 2.0;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    font-family: "Fonte texto";
  }
  
  .links li {
    margin: 10px 0;
  }

  /* EFEITOS DE HOVER */

  .links a:hover {
    color:#FF6F00;
  transition: color 0.5s ease;
}

/* FIM!!!! */
  
  .newsletter h3,
  .contato h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .newsletter p,
  .contato p {
    margin: 5px 0px;
    text-align: center;
    margin-bottom: 15px;
  }


 
  
  .contato {
    padding-right: 80px;
  }

  .newsletter {
    padding-left: 80px;
  }
  

  .newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .newsletter input[type="email"] {
    padding: 10px 15px;
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: "Fonte texto";
    text-align: left;
  }

  input::placeholder {
    color: white;
  }
  
  .newsletter button {
    padding: 7px 20px;
    color: white;
    border-radius: 15px;
    width: 120px;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
    font-family: "Fonte titulo";
  }

  /* EFEITOS DE HOVER */

  .newsletter button:hover {
    background-color: white;
    color:#0B1956;
  transition: color 0.5s ease;
  transition: background 0.5s ease;
}

/* FIM!!!! */


  .secao-footer-contato{
    color: white;
    text-align: left;
    line-height: 2.5;
    margin-right: 80px;
    margin-left: 50px;
   }

   .secao-footer-contato h4 {
    font-family: "Fonte titulo2";
    margin-left: 20px;
  }

   .secao-footer-contato p img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
  }

  .secao-footer-contato p {
    font-family: "Fonte texto";
    margin-left: 20px;
  }

  
  .divisoria {
    width: 1px;
    background: url('Line\ 6.png') no-repeat center center;
    background-size: cover;
    height: 230px;
    margin-top: 10px;
    margin-left: 120px;
  }

  .divisoria1 {
    width: 1px;
    background: url('Line\ 6.png') no-repeat center center;
    background-size: cover;
    height: 230px;
    margin-top: 10px;
    margin-left: 0px;
  }
  
  .barra-escura-footer {
    background-color: #081446;
    height: 60px;
    width: 100%;
  }