* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    /* background-color: #f6f1e7; */
/*  */}

@font-face {
    font-family: light;
    src: url(font/CreatoDisplay-Light.otf);
}

@font-face {
    font-family: "Fonte texto";
    src: url(font/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Fonte titulo";
    src: url(font/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "FOOTER";
    src: url(font/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "Fonte titulo2";
    src: url(font/CreatoDisplay-Black.otf);
}

@font-face {
    font-family: "Fonte titulo3";
    src: url(font/CreatoDisplay-Medium.otf);
}

@font-face {
  font-family: "Fonte";
  src: url(font/Barcelony.ttf);
}

body {
    background-color: #F6F6EE;
}

header {
    color: black;
    padding: 25px 0;
    border-bottom: 1px solid black; 
    font-family: "Fonte texto";
    }
    
    .logo{
    width: 15%;
    height: 62px;
    margin-right: 30px;
    }
    
    header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 100px;
    padding: 0 20px;
    }
    
    .espaco{
    height: 5px;
    }
    
    header nav {
    display: flex;
    }
    
    .inicio{
    margin-left: 650px;
    }
    
    header nav a {
    color: black;
    margin-left: 20px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 35px;
    font-family: "Fonte texto";
    display: flex;
    align-items: center;
    }
    
    
    
    /* LINHA ABAIXO DO A */
    #navegacao{
    position: relative; 
    }
    
    
    #navegacao::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #FF6F00;
    position: absolute;
    bottom: -4px; 
    left: 0;
    transition: width 0.4s ease-in-out;
    }
    
    
    #navegacao:hover::after {
    width: 100%;
    }
    
    /* até aq */
    
    
    
    
    
    
    
    /* botão do menu */
    #menuAlternar {
      position: absolute; 
      top: 22px; /*  topo */
      right: 20px; 
      z-index: 200; /* botão por cima d menu */
    }
    
    #menuAlternar a {
      text-decoration: none; 
      font-size: 16px;
      color: #ffffff; 
      transition: color 0.3s ease; 
      font-family: "Fonte texto";
    }
    
    #menuAlternar a:hover {
      font-family: "Fonte titulo";
    }
    
    #menuAlternar input {
      display: block; 
      position: absolute; 
      cursor: pointer; 
      width: 80px;
      height: 80px;
      opacity: 0; 
    }
    
    #menuAlternar span {
    display: block; 
    width: 20px; /* nova largura */
    height: 2px; /* nova altura */
    margin-bottom: 4px; /* espaçamento menor entre as linhas */
    margin-top: 3px;
    margin-right: 50px;
    position: relative; 
    background: black; /* cor das linhas */
    border-radius: 3px; 
    z-index: 1; 
    transform-origin: 2px 0px; /* ajustado ao novo tamanho */
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease; 
    }
    
    /* Estados transformados para formar o "X" */
    #menuAlternar input:checked ~ span {
    opacity: 1; 
    transform: rotate(45deg) translate(-1px, -1px); /* ajustado para o tamanho menor */
    background: black; 
    }
    
    #menuAlternar input:checked ~ span:nth-last-child(3) {
    opacity: 0; 
    transform: rotate(0deg) scale(0.2, 0.2); 
    }
    
    #menuAlternar input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px); /* ajustado para o tamanho menor */
    }
    
    
    #menuAlternar span:first-child {
      transform-origin: 0% 0%; /* de onde sai a 1°lunha */
    }
    
    #menuAlternar span:nth-last-child(2) {
      transform-origin: 0% 100%; /* de onde sai a 2°lunha */
    }
    
    #menuAlternar input:checked ~ span {
      opacity: 1; 
      transform: rotate(45deg) translate(-1px, -1px); /* muda o icone pra X */
      position: relative;
    }
    
    #menuAlternar input:checked ~ span:nth-last-child(3) {
      opacity: 0; 
      transform: rotate(0deg) scale(0.2, 0.2); 
    }
    
    #menuAlternar input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px); 
    }
    
    /* Estilização do menu */
    #menu {
      position: fixed; 
      max-width: 280px; /* largura qnd abre*/
      width: 80%; 
      height: 100%; 
      margin: 0; 
      right: 0; 
      padding: 20px; 
      padding-top: 80px; 
      box-sizing: border-box; 
      background: #1a1a4c; /* cor do fundo */
      list-style-type: none; 
      transform: translateX(100%); /* deixa ano que vem */
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0); /* animacao qnd abre*/
      color: #ffffff; /* cor do texto */
      z-index: 100; /* deixa o menu acima de tudo */
    }
    
    #menu li {
      padding: 10px 0; /* espaço entre iten */
      font-size: 22px; 
    }
    
    #menu li label {
      cursor: pointer; 
    }
    
    #menuAlternar input:checked ~ ul {
      transform: translateX(0); /* ativa o menu */
    }
    
    
    body.menu-aberto main  {
      filter: blur(5px); /* blur no site td */
    }
    
    body.menu-aberto #navegacao {
    filter: blur(5px); /* blur no site td */
    }
    
    
    body:not(.menu-aberto) #menu {
      transform: translateX(100%); /* deixa o menu fora da tela */
    }
    
    
    
    
    
    
    /* FIM DO MENU */



/* section comeco */

.animacao{
    font-family: Fonte Texto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.futuVideo{
    height: 400px;
    margin-top: 40px;
}

.desc{
    margin-top: 30px;
    width: 660px;
    text-align: center;
}

/* fim da pagina bum */

/* inicio da div quem somos */

.quemSomos{
    margin-top: 50px;
    height: 648px;
    background-image: url(img/equipe.png);
    align-items: center;
    /* justify-content: center; */
    display: flex;
    padding-left: 80px;
}

.textoQ{
    width: 500px;
    /* padding-top: 250px; */
}

h2{
    font-size: 50px;
    font-family: Fonte titulo;
    color: white;
    width: 500px;
    margin-bottom: 25px;
}

.somos{
    font-family: light;
    color: white;
    font-size: 18px;
}

.more{
    margin-top: 25px;
    background-color: rgba(255, 192, 203, 0);
    border: 1px solid white;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-family: Fonte titulo3;
    color: white;
    cursor: pointer;
}

/* parte dos textos nos numeros fim  */

/* comeco das caixas de numero */

.numeros{
    background-color: #0B1956;
    width: 320px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px 5px 5px 5px;
}

.numero{
background-color: #00000000;
border: 1px solid white;
width: 290px;
height: 400px;
display: flex;
flex-direction: column;
border-radius: 100px 5px 5px 5px;
/* justify-content: center; */
/* align-items: center; */
}

.numbertext{
    display: flex;
    margin-top: 20px;
}
h1{
    font-size:130px;
    color: white;
    opacity: 32%;
    margin-left: 20px;
    margin-top: 20px;
}

.number{
    width: 200px;
    color: white;
    margin-top: 30px;
    margin-left: 10px;
}

.num{
    color: white;
    font-family: light;
    font-size:15px;
    margin-top: 40px;
    margin-left: 20px;
}

span{
    font-size: 40px;
    font-family: Fonte titulo;
    color: white;
    width: 500px;
}

/* caixa dois */

.numeros1{
    background-color: #F6F1E7;
    width: 320px;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px 5px 5px 5px;
    margin-left: 50px;
    border: 1.5px solid #0B1956;
}

.numero1{
background-color: #00000000;
width: 320px;
height: 420px;
display: flex;
flex-direction: column;
border-radius: 100px 5px 5px 5px;
/* justify-content: center; */
/* align-items: center; */
}

.numbertext1{
    display: flex;
    margin-top: 20px;
}
.um{
    font-size:130px;
    color: #0B1956;
    margin-left: 40px;
    margin-top: 20px;
    opacity: 100%;
}

.number1{
    width: 200px;
    color: white;
    margin-top: 30px;
    margin-left: 10px;
}

.num1{
    color: #426CC2;
    font-family: light;
    font-size:15px;
    margin-top: 40px;
    margin-left: 40px;
    font-weight: 300;
}

.dois{
    font-size: 40px;
    font-family: Fonte titulo;
    color: #426CC2;
    width: 500px;
    position: relative;
    top: 60px;
    margin-left: 5px;
}

.next{
    margin-top: 25px;
    background-color: rgba(255, 192, 203, 0);
    border: 1px solid white;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-family: Fonte titulo3;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    top: 230px;
    right: 15px;
    cursor: pointer;
}

/* fim da caixa dos numeros */

/* começo da parte do objetivo */

.objetivo{
    background-color: #F6F2E7;
    height: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Qual{
    font-family: Fonte titulo3;
    font-size: 30px;
    margin-top: 50px
}

.tematext{
    width: 290px;
    font-family: light;
    text-align: center;
}

.nosso{
    font-family: Fonte titulo3;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tema{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

.tema img{
  margin-bottom: 20px;
}

/* fim da parte dos objetivos  */

/* começo dos recursos */

.recursos{
    height:500px;
    width: 1080px;
    /* margin-top: 180px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
    padding-top: 180px;
}

/* primeira caixa */
.retangulo{
    height: 240px;
    width: 180px;
    background-color: #426CC2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-left: 50px;
    margin-right: 50px;
    transition: transform 0.3s ease;
}

.retangulo:hover{
    transform: scale(1.05);
}

.circulo{
    height: 100px;
    width: 100px;
    background-color: #0B1956;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.retanIcon{
    transition: transform 0.3s ease;
}

.retanIcon:hover{
    transform: scale(1.3);
}

.retan{
    color: white;
    font-family: Fonte titulo3;
    font-size: 30px;
    margin-top: 10px;
}

.oi{
    background-color: #00000000;
    border: 1.5px white solid;
    width: 90px;
    height: 30px;
    color: white;
    font-family: light;
    margin-top: 25px;
    border-radius: 5px;
    cursor: pointer;
}

/* fim da primeira caixa */
/* começo da segunda caixa e unica diferente*/


/* maybe */

.tudo{
    height: 400px;
    width: 600px;
    background-color: #0B1956;
    padding-top:30px ;
    padding-left: 30px;
}

.circuloo{
    height: 80px;
    width: 80px;
    background-color: #426CC2;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.capa{
    display: flex;
}

.dic{
    font-size: 40px;
    font-family: Fonte titulo;
    color: white;
    width: 200px;
    margin-top: 20px;
    margin-left: 50px;
}

/* Estilo do overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay-content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Classe para aplicar o blur nas caixas de fundo */
.blur {
    filter: blur(5px);
}

#closeOverlay{
    cursor: pointer;
    color: white;
    background-color: #00000002;
}

.text{
    font-family: light;
    font-size: 20px;
    text-align: left;
    width: 400px;
    color: white;
    margin-left: 80px;
    margin-top: 30px;
}

.flex{
    margin-bottom: 120px;
}


/* circulos com u */

.circulu{
    height: 80px;
    width: 80px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0B1956;
    margin-left: 200px;
    margin-right: 200px;
}

.circulu p{
    font-size: 30px;
    color: #F6F1E7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.circuluu{
    height: 80px;
    width: 80px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F2E7;
    border: solid #0B1956 1px;
}

.circuluu p{
    font-size: 30px;
    color: #0B1956;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.circulus{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

#linha{

    width: 1000px;
    color: #000;
    background: #000000;
    padding: 2px;
}












footer {
    background-color: #0B1956;
    color: white;
    text-align: center;
    padding-top: 50px;
    width: 100%;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    padding-bottom: 35px;
  }
  
  .conteudo-footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .secao-footer {
    flex: 1;
    
    text-align: left;
  }
  
  .links ul {
    list-style: none;
    margin-left: 100px;
    line-height: 2.0;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    font-family: "Fonte texto";
  }
  
  .links li {
    margin: 10px 0;
  }

  /* EFEITOS DE HOVER */
  .links a:hover {
    font-family: "FOOTER";
}

/* FIM!!!! */
  
  .newsletter h3,
  .contato h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .newsletter p,
  .contato p {
    margin: 5px 0px;
    text-align: center;
    margin-bottom: 15px;
  }


 
  
  .contato {
    padding-right: 80px;
  }

  .newsletter {
    padding-left: 80px;
  }
  

  .newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .newsletter input[type="email"] {
    padding: 10px 15px;
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: "Fonte texto";
    text-align: left;
  }

  input::placeholder {
    color: white;
  }
  
  .newsletter button {
    padding: 7px 20px;
    color: white;
    border-radius: 15px;
    width: 120px;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
    font-family: "Fonte titulo";
  }

  /* EFEITOS DE HOVER */

  .newsletter button:hover {
    background-color: white;
    color:#0B1956;
  transition: color 0.5s ease;
  transition: background 0.5s ease;
}

/* FIM!!!! */


  .secao-footer-contato{
    color: white;
    text-align: left;
    line-height: 2.5;
    margin-right: 80px;
    margin-left: 50px;
   }

   .secao-footer-contato h4 {
    font-family: "Fonte titulo2";
    margin-left: 20px;
  }

   .secao-footer-contato p img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
  }

  .secao-footer-contato p {
    font-family: "Fonte texto";
    margin-left: 20px;
  }

  
  .divisoria {
    width: 1px;
    background: url('Line\ 6.png') no-repeat center center;
    background-size: cover;
    height: 230px;
    margin-top: 10px;
    margin-left: 120px;
  }

  .divisoria1 {
    width: 1px;
    background: url('Line\ 6.png') no-repeat center center;
    background-size: cover;
    height: 230px;
    margin-top: 10px;
    margin-left: 0px;
  }
  
  .barra-escura-footer{
    background-color: #081446;
    height: 60px;
    width: 100%;
  }