* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: "Fonte texto";
    src: url(Fontes/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Fonte titulo";
    src: url(Fontes/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: "Fonte titulo2";
    src: url(Fontes/CreatoDisplay-Black.otf);
}

@font-face {
    font-family: "Fonte titulo3";
    src: url(Fontes/CreatoDisplay-Medium.otf);
}


body {
    background-color: #ffffff;
    color: #333333;
}

header {
    background-color: #0B1956;
    color: white;
    padding: 35px 0;
    border-bottom: 1px solid #F6EEE1; 
    font-family: "Fonte texto";
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header nav {
    display: flex;
    align-items: center;
}

.inicio{
  margin-left: 625px;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 15px;
    margin-right: 35px;
    font-family: "Fonte texto";
    display: flex;
    align-items: center;
}



/* LINHA ABAIXO DO A */
#navegacao{
  position: relative; 
}


#navegacao::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: #FF6F00;
  position: absolute;
  bottom: -4px; 
  left: 0;
  transition: width 0.4s ease-in-out;
}


#navegacao:hover::after {
  width: 100%;
}

/* até aq */



.icone {
   
    margin-left: 65px;
}



#principal {
    background-color: #0B1956;
    color: white;
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Fonte titulo";
}

#principal h1 {
    font-size: 45px;
    margin-bottom: 20px;
    font-family: "Fonte titulo";
    color: #F6EEE1;
    margin-top: 50px;
}

#principal p {
    font-size: 15px;
    margin-bottom: 80px;
    font-family: "Fonte texto";
    color: #F6EEE1;
}



#principal button {
    background-color: #ffffff;
    color: #0B1956;
    padding: 8px 30px;
    width: 150px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 18px;
    font-size: 17px;
    margin-top: 30px;
}

/* EFEITOS DE HOVER */

#principal p:hover{
  color: #FF6F00;
  transition: color 0.5s ease;
}

#principal button:hover{
  background:transparent;
  color: white;
  border: 1px solid white;
  transition: background 0.45s ease;
}


/* FIM!!! */

.imagem {
  overflow: hidden;
}

.imagem img{
  object-fit: cover;
  transition: transform 0.6s ease; 
}

.imagem:hover img{
    transform: scale(1.4); 
    
}
  


.titulo-secao {
    text-align: center;
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 10px;
    font-family: "Fonte titulo";
    color: black;
}

.titulo p {
    text-align: center;
    font-size: 15px;
    font-family: "Fonte texto";
    margin-top: 5px;
    margin-bottom: 40px;
}

#materias-destaque {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.materia {
    position: relative;
    width: 300px;
    color: white;
}

.materia img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.materia .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    border-radius: 0 0 8px 8px;
    align-items: center;
    margin-bottom: 35px;
    text-align: center;
    font-family: "Fonte titulo";
    font-size: 20px;
}

#materias-destaque {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-around; 
    max-width: 100%;
    margin: 0 auto; 
}

.materia {
    flex: 1 1 300px;
    max-width: 400px; 
    position: relative;
    text-align: center;
    box-sizing: border-box; 
}

.titulo1 {
    opacity: 1;
    font-size: 30px;

}

/* ANIMAÇÃO!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#materias-destaque {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.materia {
    position: relative;
    width: 500px; 
    text-align: center;
}


.img-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 100px;
}

.img-box img {
    width: 100%;
    border-radius: 10px;
    transition: filter 0.5s ease-in-out; 
}

.img-box:hover img {
    filter: blur(2px);
}

.img-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0); 
    transition: background 0.5s ease-in-out;
    z-index: 1;
    border-radius: 10px;
}

.img-box:hover::before {
    background: rgba(0, 0, 0, 0.1);
}


.legenda {
    opacity: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
    transform: translateY(20px);
    z-index: 2; 
    text-align: center;
}

.img-box:hover .legenda {
    opacity: 1;
    transform: translateY(0);
}


.legenda button {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    font-family: "Fonte titulo2";
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.img-box:hover .overlay{
    opacity: 0;
}

.img-box:hover .titulo1 {
    font-size: 30px;
    font-family: "Fonte titulo3";
    margin-bottom: 30px;
    font-weight: 600;
}

.img-box:hover p{
    font-size: 18px;
    font-family: "Fonte texto";
    text-align: justify;
    margin-bottom: 30px;
    line-height: 1.5;
}

.img-box:hover button{
    font-family: "Fonte texto";
    font-size: 18px;
    text-align: justify;
    margin-bottom: 30px;
    height: 40px; ;
    width: 150px;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    font-weight: 550;
}

/* TERMINA AQUI!!!!!! */





#ativistas {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 220px;
}

#ativistas img {
    margin-right: 60px;
}

.info-ativistas h2 {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: "Fonte titulo2";
    color: black;
}

.info-ativistas p {
    font-size: 17px;
    margin-bottom: 20px;
    color: black;
    text-align: justify;
    line-height: 2;
    font-family: "Fonte texto";
}

.estatisticas {
  position: absolute;
  left: 400px;
  display: flex;
  justify-content: space-around;
  background-color: #0B1956;
  color: white;
  padding: 20px;
  max-width: 800px;
  margin-top: 100px;
  border-radius: 5px;
}
.estatistica-item {
  text-align: center;
  flex: 1;
  border-right: 1px solid #fff; 
  padding: 0 10px;
}
.estatistica-item:last-child {
  border-right: none;
}
.estatistica-item h2 {
  font-size: 32px;
  margin-bottom: 2px;
  color: white;
  margin-top: 15px;
}
.estatistica-item p {
  font-size: 16px;
  color: white;
  text-align: center;
  font-family: "Fonte texto";
  line-height: normal;
}

/* EFEITOS DE HOVER */

.estatistica-item h2:hover {
  color: #FF6F00;
  transition: color 0.5s ease;
}

.estatistica-item p:hover {
  color: #FF6F00;
  transition: color 0.5s ease;
}

/* FIM!!!!! */





#artigos-relacionados {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #D8E6F0;
}


.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #426CC2;
    color: white;
  }

  /* EFEITOS DE HOVER */

  .principal h1:hover {
    color: #FF6F00;
    transition: color 0.5s ease-in-out;
  }
  
  /* FIM!!!! */
  

  .ativistas {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-left: 130px;
    max-width: 1400px;
  }
  
  .texto-ativistas {
    max-width: 50%;
    padding-right: 20px;
  }
  
  .texto-ativistas h1 {
    font-size: 45px;
    font-weight: bold;
    font-family: "Fonte titulo2";
    margin-bottom: 35px;
    text-align: left;
    color: #F6EEE1;
  }
  
  .texto-ativistas p {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: justify;
    font-family: "Fonte texto";
    margin-right: 40px;
    line-height: 1.5;
  }
  
  .texto-ativistas button {
    background: transparent;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    padding: 7px 30px;
    width: 160px;
    cursor: pointer;
    font-family: "Fonte titulo";
    font-size: 15px;
  }

  /* EFEITOS DE HOVER */

  .texto-ativistas button:hover {
  background-color: #FF6F00;
  transition: background 0.5s ease;
  border: transparent;
}

/* FIM!!!! */
  
 
  .informacoes {
    display: flex;
    gap: 15px;
  }
  
  
  .item {
    background-color: white;
    color: black;
    text-align: center;
    width: 200px;
  }
  
  .item img {
    width: 100%;
    height: auto;
  }
  
  .item h3 {
    font-size: 15px;
    font-family: "Fonte titulo"; 
    text-align: left;
    margin-left: 5px;
    margin-top: 15px;
}

  .item p {
    font-size: 10px;
    font-family: "Fonte texto";
    color: #7E7E7E;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 25px;
  }
  
  
  


  .citacao p{
    font-family: "Fonte texto";
    font-weight: italic;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    font-size: 30px;
    padding: 40px;
    color: black;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .citacao span {
    color: #696969;
    font-size: 15px;
  }
  




  footer {
    background-color: #0B1956;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    padding-bottom: 50px;
  }
  
  .conteudo-footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .secao-footer {
    flex: 1;
    
    text-align: left;
  }
  
  .links ul {
    list-style: none;
    margin-left: 100px;
    line-height: 2.0;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    font-family: "Fonte texto";
  }
  
  .links li {
    margin: 10px 0;
  }

  /* EFEITOS DE HOVER */

  .links a:hover {
    color:#FF6F00;
  transition: color 0.5s ease;
}

/* FIM!!!! */
  
  .newsletter h3,
  .contato h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .newsletter p,
  .contato p {
    margin: 5px 0px;
    text-align: center;
    margin-bottom: 15px;
  }


 
  
  .contato {
    padding-right: 80px;
  }

  .newsletter {
    padding-left: 80px;
  }
  

  .newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .newsletter input[type="email"] {
    padding: 10px 15px;
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: "Fonte texto";
    text-align: left;
  }

  input::placeholder {
    color: white;
  }
  
  .newsletter button {
    padding: 7px 20px;
    color: white;
    border-radius: 15px;
    width: 120px;
    cursor: pointer;
    background: transparent;
    border: 1px solid white;
    font-family: "Fonte titulo";
  }

  /* EFEITOS DE HOVER */

  .newsletter button:hover {
    background-color: white;
    color:#0B1956;
  transition: color 0.5s ease;
  transition: background 0.5s ease;
}

/* FIM!!!! */


  .secao-footer-contato{
    color: white;
    text-align: left;
    line-height: 2.5;
    margin-right: 80px;
    margin-left: 50px;
   }

   .secao-footer-contato h4 {
    font-family: "Fonte titulo2";
    margin-left: 20px;
  }

   .secao-footer-contato p img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
  }

  .secao-footer-contato p {
    font-family: "Fonte texto";
    margin-left: 20px;
  }

  
  .divisoria {
    width: 1px;
    background: url('Line\ 6.png') no-repeat center center;
    background-size: cover;
    height: 230px;
    margin-top: 10px;
    margin-left: 120px;
  }

  .divisoria1 {
    width: 1px;
    background: url('Line\ 6.png') no-repeat center center;
    background-size: cover;
    height: 230px;
    margin-top: 10px;
    margin-left: 0px;
  }
  
  .barra-escura-footer {
    background-color: #081446;
    height: 60px;
    width: 100%;
  }
  