* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

@font-face {
    font-family: "Fonte texto";
    src: url(Fontes/Inter-VariableFont_opsz\,wght.ttf);
  }
  
  @font-face {
    font-family: "Fonte titulo";
    src: url(Fontes/Inter_18pt-Bold.ttf);
  }
  
  @font-face {
    font-family: "Fonte titulo2";
    src: url(Fontes/CreatoDisplay-Black.otf);
  }
  
  @font-face {
    font-family: "Fonte titulo3";
    src: url(Fontes/CreatoDisplay-Medium.otf);
  }
  
  
 
  
  .container-chat {
    width: 420px;
    background: #ffffff;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 20px;
    z-index: 1000; 
    }
  
  
  .janela-chat {
    height: 350px;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  
  .mensagem {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    max-width: 75%;
  }
  
  
  .mensagem.usuario-mensagem {
    background: #0B1956;
    color: #fff;
    align-self: flex-end;
    text-align: right;
    margin-left: 60px;
  }
  
  
  .mensagem.bot-mensagem {
    background: #f1f1f1;
    color: #000;
    align-self: flex-start;
    text-align: left;
    margin-right: 30px;
  }
  
  
  .detalhes {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .mensagem.usuario-mensagem .detalhes {
    flex-direction: row-reverse;
  }
  
  .detalhes img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .mensagem.usuario-mensagem .detalhes img {
    margin-right: 0;
    margin-left: 10px;
  }
  
  .detalhes .info {
    display: flex;
    flex-direction: column;
  }
  
  .detalhes {
    font-size: 14px;
    font-family: "Fonte titulo";
  }
  
  .texto {
    font-size: 14px;
    font-family: "Fonte texto";
    text-align: justify;
    line-height: 1.5;
    word-wrap: break-word;
  }
  
  
  
  .area-input {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #f8f9fd;
    border-top: 1px solid #ddd;
    gap: 10px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 14px;
    background-color: #fff;
    box-shadow: inset 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"]::placeholder {
    color: #aaa;
    font-family: "Fonte texto";
    font-style: italic;
  }
  
  input[type="text"]:focus {
    border-color: #0B1956; 
    outline: none; 
    box-shadow: 0 0 5px rgba(11, 25, 86, 0.5);
  }
  
  button{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: #0B1956;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  }

  #abrir-chat-btn {
    width: 30px;
    height: 40px;
    border: none;
    border-radius: 40%;
    background: #0B1956;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);}
  
  #abrir-chat-btn:hover {
    background: #072f7e;
  }
  
  .abrir-chat-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #0B1956;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 343px; 
    right: 10px; 
    z-index: 999; 
  }

  #abrir-chat-btn img{
    max-width: 25px;
  }
  
  .abrir-chat-btn:hover {
    background: #072f7e;
  }
  
  .escondido {
    display: none;
  }
  
  
  .setinha {
    width: 20px;
    height: 20px;
  }
  
  
  /* Estilo do header */
  .header-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B1956;
    color: #ffffff;
    padding: 10px 15px;
  }
  
  .titulo-chat {
    font-size: 16px;
    font-family: "Fonte titulo";
  }
  
  .fechar-chat-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .fechar-chat-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  

  
  .explicacao {
    visibility: hidden;
    background-color: #0B1956;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font-size: 13px;
    width: 130px;
    font-family: "Fonte texto";
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 343px; 
    right: 50px; 
    transform: translateX(-10%);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


.botaoCHAT:hover .explicacao {
    visibility: visible;
    opacity: 1;
    animation: slide-in-left 0.4s ease-out;
}

@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(50%); /* Sai da direita */
    }
    to {
        opacity: 1;
        transform: translateX(-10%); /* para no meio */
    }
}

.detalhes img {
    max-width: 30px;
    height: 30px;
}